<div class="row-fluid">
  <div class="span12">
    <h3 class="text-info">Social-Playlist is easy to use.</h3><br>
    <ul style="list-style:none;">
      <li><i class="icon-asterisk"></i><strong>BROWSE + ENJOY:</strong> You do not need to be signed in to browse and enjoy existing playlists.</li><br>
      <li><i class="icon-asterisk"></i><strong>CONTRIBUTE:</strong> Any signed-in user can add videos to an existing playlist.</li>
        <ul>
          <li>- In the navigation bar, click <strong>Playlists</strong>.</li>
          <li>- Click the name of playlist you want to contribute to.
          <li>- Click the <strong>New Item</strong> button.</li>
          <li>- Enter the name and URL/web address of the YouTube video you'd like to add to the playlist</li>
        </ul><br>
      <li><i class="icon-asterisk"></i><strong>CREATE:</strong> Any signed-in user can create a new playlist.</li>
        <ul>
          <li>- In the navigation bar, click <strong>Playlists</strong>.</li>
          <li>- Click the <strong>New Playlist</strong> button.</li>
          <li>- Give your playlist a name, description, and/or tags.</li>
          <li>- Follow the "Contribute" instructons above</li>
        </ul>  
    </ul>
  </div>
</div>

<hr />
