<h1>crowd. powered. entertainment.</h1>
<!--  Carousel - consult the Twitter Bootstrap docs at
      http://twitter.github.com/bootstrap/javascript.html#carousel -->
<div id="this-carousel-id" class="carousel slide"><!-- class of slide for animation -->
  <div class="carousel-inner">
    <div class="item active"><!-- class of active since it's the first item -->
      <img src="http://www.cra-p.org/wp-content/uploads/2011/11/cuerpos2-1200x480.jpg" alt="" />
      <div class="carousel-caption">
        <p>collaborate in a community</p>
      </div>
    </div>
    <div class="item">
      <img src="http://www.firstcom.ie/images/uploads/responsive-design.jpg" alt="" />
      <div class="carousel-caption">
        <p>be heard</p>
      </div>
    </div>
    <div class="item">
      <img src="http://farm4.static.flickr.com/3115/3089700062_4acefb08bd_o.jpg" alt="" />
      <div class="carousel-caption">
        <p>entertain, educate, expose</p>
      </div>
    </div>
  </div><!-- /.carousel-inner -->
  <!--  Next and Previous controls below
        href values must reference the id for this carousel -->
    <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->

<div id="footer">
    <p class="text-right text-error"><strong>Lonely playlists are sad. Make amazing social-playlists with us.</strong></p>
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.7.2.min.js"><\/script>')</script>

<script src="js/bootstrap.min.js"></script>

<script>
  $(document).ready(function(){
    $('.carousel').carousel();
  });
</script>

<!--
  back of stereo:  http://forum.audiofil.ro/index.php?action=dlattach;topic=2016.0;attach=5755;image
  crowd at concert:  http://www5.wittenberg.edu/sites/default/files/media/headers/main/Wittfest1.jpg
  hipster DJ:  http://therailjam.com/files/2013/01/ampathy.jpg
  3 speakers:  http://www.podspeakers.dk/wp-content/uploads/2012/08/021639-021637-021638_Scandyna_web.jpg
  kid shooting video:  http://www.sandystoryline.com/wp-content/themes/wildfire/images/sandy/banner1200x480_about.jpg
  bunch of speaker stacks:  http://www.romer-heimkino.tv/media/catalog/product/cache/1/image/5a57da2c7f406da2c53f273a7b489d0f/s/e/set-heimkino-panic-room-extreme.jpg
  microphone:  http://www.showproaudio.com/img/mic.jpg
  band from crowd:  http://farm4.static.flickr.com/3115/3089700062_4acefb08bd_o.jpg
  amp:  http://www.topsound.fi/images/detailed/33/behringer-PMP4000_2.jpg
  multiple b/w devices:  http://www.firstcom.ie/images/uploads/responsive-design.jpg
