<span class='tag label label-info'>
<% is_playlist_owner(@playlist) do %>
  <%= link_to "x",
      remove_playlist_tag_path(@playlist, tag),
      :method => :delete,
      :remote => true,
      :id => "delete-#{tag.name.parameterize}" %>
<% end %>
<%= link_to tag.name,
              search_playlists_path(
             :search => "tag:#{tag.name}") %>
</span>
