<h2>New Item</h2>
<%= render "form" %>

<br>
<br>
<hr>
<strong>Valid URL Format:</strong><br>
We're currently working to make Social-Playlist smarter, so it can accept more URL formats. For now, videos must be formatted as below:<p><%= link_to "http://www.youtube.com/watch?v=123a123a123", "http://www.youtube.com/watch?v=123a123a123" %></p>
<p><em>There are effectively 2 parts to a valid URL:</em></p>
1.  http://www.youtube.com/watch?v=<br>
2.  an 11 digit+alpha video identifier<br><br>

<p>Finally, valid URLs must start with http:// as opposed to https://</p>










