/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require twitter/bootstrap
 *= require twitter/bootstrap-responsive
 */
.whiteOut { color:#FFF; margin-right:5px; font-size:12px;}
span.tag a {color:#FFF;}
.bottom-margin {
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #EDEDED;
}
.right-left {
  margin-left:5px;
}
/*
 *= require jquery.ui.all
 */

 .this-carousel-id   {
            width: 1200px;
            height: 480px; }
