<% title(@playlist.name, "Playlists") %>
<h2><%= @playlist.name %></h2>
<%= link_to "Delete Playlist",
     playlist_path(@playlist),
     :method => :delete,
     :confirm => "Are you sure you want to delete this playlist?" %>
